[submodule "vendor/manage"]
	path = vendor/manage
	url = https://github.com/escapace/manage.git
[submodule "vendor/gosu"]
	path = vendor/gosu
	url = https://github.com/tianon/gosu.git
[submodule "vendor/dumb-init"]
	path = vendor/dumb-init
	url = https://github.com/Yelp/dumb-init.git
